@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    scroll-behavior: smooth;


}

:root {
    --fs-s: 18px;
    --fs-sm: 20px;
    --fs-md: 24px;
    --fs-lg: 36px;
    --fs-xl: 48px;
    --fs-2xl: 64px;
    --fs-3xl: 144px;
    /* ------ font-clr------ */
    --fc-purple: #9003E5;
    --fc-green: #D2DA60;
    --fc-white: #ffffff;
    --fc-black: #000000;
    --fc-darkpink: #8A3E74;
    --fc-grey: #4D4D4D;
    --fc-blue: #010080;
    --fc-lightgrey: #F0F0F0;
}

/*=============font-size==============*/
.text-18 {
    font-size: var(--fs-s);
}

.text-20 {
    font-size: var(--fs-sm);
}

.text-24 {
    font-size: var(--fs-md);
}

.text-36 {
    font-size: var(--fs-lg);
}

.text-48 {
    font-size: var(--fs-xl);
}

.text-64 {
    font-size: var(--fs-2xl);
}

.text-144 {
    font-size: var(--fs-3xl);
}

/* =================font-weight=========== */
.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

/* ============line-height=========== */
.lh-27 {
    line-height: 27px;
}

.lh-30 {
    line-height: 30px;
}

.lh-36 {
    line-height: 36px;
}

.lh-54 {
    line-height: 54px;
}

.lh-72 {
    line-height: 72px;
}

.lh-96 {
    line-height: 96px;
}

.lh-216 {
    line-height: 216px;
}

/* ---------- font-color --------------- */
.color-purple {
    color: var(--fc-purple);
}

.color-darkpink {
    color: var(--fc-darkpink);
}

.bg-clr-green {
    background-color: var(--fc-green);
}

.color-white {
    color: var(--fc-white);
}

.color-grey {
    color: grey;
}

.color-lightgrey {
    color: var(--fc-lightgrey);
}

.color-black {
    color: var(--fc-black);
}

/*  */

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.nav-links {

    font-size: var(--fs-s);
    font: weight 400px;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}

.nav-links:hover {
    font-weight: bold;
    transition: all 300ms linear;
}

.cross span:nth-child(1) {
    transform: rotate(50deg) translateY(25px);
    transition: all 300ms linear;
    position: relative;
    top: -7px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(-52deg) translateY(-27px);
    transition: all 300ms linear;
    position: relative;
    top: 0;
}

.style-italic {
    font-style: italic;
}


.gap-45 {
    gap: 45px;
}

.bg-hero-img {
    background-image: url(/assets/images/png/bg-hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    ;
    ;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.bttn {
    border: 4px solid;
    border-image: linear-gradient(90.44deg, #9003E5 2.42%, #F93B95 99.69%)1;
    padding: 13px 45px;
}

.pb-24 {
    padding-bottom: 24px;
}

/* ========================== why choose us ============================================= */

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.pt-24 {
    padding-top: 24px;
}

.py-20 {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ==================== gallery ========================================= */
.black_layer::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    opacity: 0;
    background: #00000099;
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 97.4%); */
    transition: all 300ms linear !important;
}

.layer-box {
    border: 4px solid;
    border-image: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%)1;
    padding: 34px 44px;
}

.layer_hover {
    transition: all 300ms linear;
}

.layer_content_hover {
    transition: all 300ms linear;
}

.layer_hover:hover .black_layer::after {
    opacity: 1;
    transition: all 300ms linear !important;
    width: 100%;
}

.layer_content_position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layer_content_hover {
    display: none;
}

.layer_hover:hover .layer_content_hover {
    display: block;
}







.paint-1 {
    position: absolute;
    bottom: -6%;
    left: 0;
    z-index: -1;
}

.paint-2 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.cursor-pointer {
    cursor: pointer;
}

/* ========================================== welcome ==================================== */
.max-w-674 {
    max-width: 674px;
}

.gap-68 {
    gap: 12px;
}

.gap-34 {
    gap: 12px;
}

.mt-34 {
    margin-top: 34px;
}

.pb-23 {
    padding-bottom: 23px;
}

.pb-20 {
    padding-bottom: 30px;
}



.blue-paint {
    position: absolute;
    top: -19%;
    left: 0;
    z-index: -1;
}

.colorful-paint {
    position: absolute;
    top: 23%;
    right: 0;
    z-index: -1;
}

.pt_5 {
    padding-top: 20px;
}

/* ================================== our process ============================================ */
.my-container {
    margin-left: 21px;
    margin-right: 21px;
}

.max-w-215 {
    max-width: 215px;
}

.max-w-231 {
    max-width: 231px;
}

.max-w-181 {
    max-width: 181px;
}

.max-w-254 {
    max-width: 254px;
}

.max-w-276 {
    max-width: 276px;
}

.max-w-194 {
    max-width: 194px;
}

.mt_182 {
    margin-top: 150px !important;
}

.w-img {
    position: absolute;
    top: 43%;
    right: 6%;
    z-index: -1;
}

.ml-32 {
    margin-left: 32px;
}

.mr-15 {
    margin-right: -15px !important;
}


/* ======================================== newsletter ============================================ */
.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, #9104E5 0%, #F93B96 96.47%);
    ;
    background-size: 100%;
    opacity: 0.5;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.email-box {
    border: none;
    outline: none;
    background: var(--fc-white);
    padding: 22px 0px 21px 40px;
    width: 100%;
    height: 79px;
}

.pt-100 {
    padding-top: 200px;
}

.max-w-672 {
    max-width: 672px;
}

.s-btn {
    background: var(--fc-blue);
    padding: 24px 49px 24px 49px;
}

/* .s-btn {
    background: var(--fc-blue);
    padding: 24px 80px 24px 80px;
} */

.gap-24 {
    gap: 24px;
}

.news-box {
    background: var(--fc-lightgrey);
    width: 100%;
    max-width: 1320px;
    height: 394px;
    border-radius: 45px;
    padding: 20px;
}

/* .pstn-text {
    position: absolute;
    top: -27%;
     right: 14%;
} */
/* .mt-175 {
    padding-top: 175px;
} */

.max-w-915 {
    max-width: 915px;
}

/* ========================= inspitations =========================================== */
.gap-24 {
    gap: 24px;
}

.mt-24 {
    margin-top: 24px;
}

.max-w-480 {
    max-width: 480px;
}

.text-box {
    width: 100%;
    max-width: 514px;
    padding: 17px 10px;
    background-color: var(--fc-white);
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.max-w-335 {
    max-width: 335px;
}

.text-box-2 {
    width: 100%;
    max-width: 440px;
    padding: 17px 10px;
    background-color: var(--fc-white);
    position: absolute;
    bottom: 5%;
    left: 11%;
}

.text-box-3 {
    width: 100%;
    max-width: 349px;
    /* padding: 10px 17px; */
    padding-left: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: var(--fc-white);
    position: absolute;
    bottom: 5%;
    left: 11%;
}

.text-box-4 {
    width: 100%;
    max-width: 349px;
    /* padding: 10px 17px; */
    padding-left: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: var(--fc-white);
    position: absolute;
    bottom: 5%;
    left: 8%;
}

.max-w-370 {
    max-width: 370px;
}

.blue-box {
    background: var(--fc-blue);
    /* max-width: 426px;
    width: 100%; */
    height: 494px;
    border-radius: 24px;
}

.h-494 {
    height: 494px;
}

.br-24 {
    border-radius: 24px;
}

.w100 {
    width: 100%;
}

.mr-10 {
    margin-left: -25px;
}

.ml-20 {
    margin-left: -20px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.insi-1 {
    position: absolute;
    top: 35%;
    right: 0;
}

.insi-2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* ================================== our team =========================================== */
.bg-team-clr {
    background-color: var(--fc-blue);
}

.max-w-162 {
    max-width: 162px;
}

.team-3-pstn {
    position: absolute;
    top: 26%;
    left: 43%;
}

.team-4-pstn {
    position: absolute;
    top: 26%;
    left: 77%;
}

.h-819 {
    min-height: 819px;
}

.max-w-423 {
    max-width: 423px !important;
}






@media (max-width:1400px) {
    .mr-10 {
        margin-left: -25px;
    }

    .ml-20 {
        margin-left: -20px;
    }
}

@media (max-width:992px) {

    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        right: 0;
    }

    .menuIcon {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        width: 100%;
        height: 4px;
        background: var(--fc-purple);
        position: relative;
        z-index: 2;
        transition: all 300ms linear;
    }

    .menulist {
        flex-direction: column;
        background-color: var(--fc-green);
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        align-items: center;
        justify-content: center;
        z-index: 4;
        transition: all 300ms linear;
    }

    :root {
        .text-144 {
            font-size: 80px;
        }
    }

    .mt-24 {
        margin-top: 24px;
    }


}

@media (max-width:576px) {
    :root {
        .text-144 {
            font-size: 50px;
        }

        /* .mt-175 {
            padding-top: 60px;
        } */
    }

    .flex_column {
        flex-direction: column;
    }

    .news-box {
        background: var(--fc-lightgrey);
        width: 100%;
        max-width: 1320px;
        height: 478px;
        border-radius: 30px;
        padding: 20px;
    }

    .max-w-672 {
        max-width: 300px;
    }

    .s-btn {
        background: var(--fc-blue);
        padding: 24px 90px 24px 90px;
    }

    :root {
        .text-144 {
            font-size: 40px;
        }
    }

    .lh-216 {
        line-height: 150px;
    }
}

@media (max-width:320px) {
    .s-btn {
        background: var(--fc-blue);
        padding: 24px 70px 24px 70px;
    }
}



@media (min-width:1500px) and (max-width:1200px) {
    .w-img {
        max-width: 1717px;
        position: absolute;
        top: 45%;
        right: 6%;
        z-index: -1;
    }
}

@media (min-width:992px) {
    .py-lg-115 {
        padding-top: 115px;
        padding-bottom: 115px;
    }

    .py-115-231 {
        padding-top: 115px;
        padding-bottom: 231px;
    }

    .right-border {
        border-right: 1px dotted var(--fc-black);
    }

    .bottom-border {
        border-bottom: 1px dotted var(--fc-black);
    }

    .mb-lg-42 {
        margin-bottom: 42px;
    }

    .py-82 {
        padding-top: 82px;
        padding-bottom: 92px;
    }

    .pb-lg-115 {
        padding-bottom: 115px;
    }

    .mt-lg-34 {
        margin-top: 34px;
    }

    .pt-66 {
        padding-top: 66px;
    }

    .w100 {
        width: 426px;
    }



}

@media (min-width:1200px) {
    .w-img {
        position: absolute;
        top: 46%;
        right: 1%;
        z-index: -1;
    }

    .img2 {
        position: relative;
        margin-right: 61px;
        bottom: 40px;
    }

    .img4 {
        position: relative;
        margin-left: 34px;
        bottom: 40px;
    }

    .img6 {
        position: relative;
        left: -89px;
        bottom: 40px;
    }
}

@media (min-width:1440px) {
    .pstn-text {
        position: absolute;
        top: -27%;
        right: 15%;
    }

    .mt-175 {
        padding-top: 175px;
    }

    .text-box {
        width: 100%;
        max-width: 554px;
        padding: 17px 37px;
        background-color: var(--fc-white);
        position: absolute;
        bottom: 5%;
        left: 8%;
    }

    .max-w-335 {
        max-width: 335px;
    }

    .text-box-2 {
        width: 100%;
        max-width: 440px;
        padding: 17px 52px;
        background-color: var(--fc-white);
        position: absolute;
        bottom: 5%;
        left: 11%;
    }

    .text-box-3 {
        width: 100%;
        max-width: 356px;
        /* padding: 10px 17px; */
        padding-left: 10px;
        padding-top: 17px;
        padding-bottom: 17px;
        background-color: var(--fc-white);
        position: absolute;
        bottom: 5%;
        left: 12%;
    }

    .text-box-4 {
        width: 100%;
        max-width: 356px;
        /* padding: 10px 17px; */
        padding-left: 10px;
        padding-top: 17px;
        padding-bottom: 17px;
        background-color: var(--fc-white);
        position: absolute;
        bottom: 5%;
        left: 12%;
    }

    .mr-130 {}

    .img6 {
        margin-right: 120px;
        position: relative;
        bottom: 33px;
    }

    .img4 {
        position: relative;
        bottom: 33px;
    }

    .img2 {
        position: relative;
        bottom: 33px;
        margin-right: 80px;
    }

    .w-img {
        position: absolute;
        top: 43%;
        right: 6%;
        z-index: -1;
    }
}